*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;   
}
.container{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: var();
    background-image:url('https://img.freepik.com/free-photo/sunny-meadow-landscape_1112-134.jpg?w=2000')
}
.centre{
    align-content: center;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(050%, -50%);
    font-style: oblique;
    user-select: none;
}
.centre h1{
    color: black;
    font-size: 50px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    width: 300%;
    margin: 5px;
    text-transform: uppercase;
    align-content: center;
    left: 40%; 
    background-size: cover;
}
.centre p{    
color: black;
font-size: 30px;              
font-weight: bold; 
font-family: Arial, Helvetica, sans-serif;   
width: 500px;       
text-transform: uppercase;       
letter-spacing: 2px;       
text-align: left;       
margin: 50px;      
padding-bottom: 4px; 
}
.container1 h1{
    color: rgb(247, 243, 243);
    font-size: 40px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    width: 300%;
    margin: 0px 60px 0px 500px;
    text-transform: uppercase;  
}
.container1 h2{
    color: rgb(247, 243, 243);
    font-size: 40px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    width: 300%;
    margin: 10px 100px 0px 500px;
    text-transform: uppercase;  
}
.container1 h3{
    color: rgb(247, 243, 243);
    font-size: 40px;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    width: 300%;
    margin: 30px 200px 0px 500px;
    text-transform: uppercase;  
}
.container1 p1{
color:  rgb(247, 243, 243);
font-size: 14pt;              
font-weight: bold; 
font-family: Arial, Helvetica, sans-serif;   
width: 30px;   
justify-content: center;                 
text-align: center;       
margin: 0px 50px 0px 130px;      
padding-bottom: 4px; 
}
.container1 p2{
    color: rgb(247, 243, 243);
    font-size: 11pt;              
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;   
    width: 500px;       
    text-transform: uppercase;              
    text-align: left;       
    margin: 0px 150px 0px 50px;      
    padding-bottom: 6px; 
    }
    .container1 p3{
        color: rgb(247, 243, 243);
        font-size: 11pt;              
        font-weight: bold; 
        font-family: Arial, Helvetica, sans-serif;   
        width: 500px;       
        text-transform: uppercase;              
        text-align: left;       
        margin: 0px 50px 0px 50px;      
        padding-bottom: 4px; 
        }
.centre icon{
    position: centre;
}
.centre h1{
    color: black;
    font-size: 45px;
    font-weight: bold;  
}
.navbar{
    height: 80px;
    width: 100%;
}
.logo{ 
    width: 140px;
    height: auto;
    padding: 20px;

}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    justify-content: space-between;
    font-weight: 500;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 6px 13px;
    transition: 4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background-color: whitesmoke;
    border-radius: 2px;
}
.centre button{
    width: 150px;
    height: 40px;
    background: grey ;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
}
.centre button:hover{
    background-color: white;
}
.wrapper{
    position: center;
    width: 400px;
    height: 410px;
    background: transparent;
    border: 2px solid rgb(182, 181, 181);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s easez, height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1)
}
.wrapper.form-box-details{
    transform: translatex(400px);
    position: absolute;
    transition: transform .18s ease;
  }
.wrapper .active .form-box.details{
    transition: transform .18s ease;
    transform: translatex(-400px);
  }


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}


.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.btn{
    width:100%;
    height: 45px;
    border: 20px;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-bottom:10px;
    font-size: 1em;
    
}

.input-box label{
    position: absolute;
    top: 10px;
    left: 5px;
    transform: translateY(-100%);
    font-size: 1em;
    color: rgb(8, 8, 8);
    font-weight: 500;
    pointer-events:none;
} 
.input-box input:focus-label,
.input-box input:valid-label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.icon close{
    width:100%;
    height: 45px;
    border: 20px;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: white;
    margin-bottom:10px;
    font-size: 1em;
}